.wrap4_1{
    width:65%;
    margin:0 auto;
    height: auto;
    
}
.el-carousel__container{
    width:90%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border:1px solid #ddd;
   cursor: pointer;
}

.abcc{
    width:100%;
    height: auto;
    
}
.carousel__item1{
    width:22.6%;
    height: 293px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    float:left;
    margin: 1%;
    margin-bottom: 20px;
}
.carousel_img{
    width: 100%;
    height: 60%;
    border-bottom: 1px solid #ddd;
}
.cimg{
    width:100%;
    height: 100%;
}
.carousel__content{
    padding: 0px 30px;
    text-align: left;
}
.addr{
    font-size: 10px;
}
.cacotitle{
    font-size: 14px;
    font-weight: bold;
}
.carousel_content{
    padding: 0px 30px;
    text-align: left;
}
.rightsel{
    float:right;
    margin-right: 20px;
}
.carousel_content:hover{
    box-shadow: inset 0 0 0 1px #666d7533;
}
.loti{
    margin-bottom: 10px;
    margin-top:30px;
}
.locationtitle{
    font-size:20px;
    font-weight: bold;
    padding-left:10px;
    
}

.addrtitle{
    width:100%;
    height: 60%;
    overflow: hidden;
 
}
.demo-rate-block{
    height: 40%;
}
.carousel_content{
    height: 40%;
}
.noneprice{
    font-size:12px;
}
.ecsel{
    margin-top:20px;
    border-radius: 10px;
}
.locationbox{
    width:100%;
}









.el-carousel__item:nth-child(3) {
    background-image: url("http://morningcalm.co.kr/_ADM/data/designImages/BANNER_1636014061.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .el-carousel__item:nth-child(4) {
    background-image: url(../banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .el-carousel__item:nth-child(5) {
    background-image: url(../banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lobtn{
      width:11.1%;
      height: 40px;
      border:1px solid #ddd;
      box-shadow: 0px 0px 2px 2px rgb(0 0 0 / 5%);
      cursor: pointer;
     background-color: white;
     border-radius: 10px;
     margin-top:30px;
    }
    .lobtn:hover{
        background: rgb(224, 224, 224);
    }
    .lobth:active{
        background-color: aqua;
    }
    .nodata{
        width:100%;
        height: 200px;
        text-align: center;
        padding-top:100px;
    }
    .pluslistdiv{
        text-align: center;
        width:100%;
    }
    .abcc_wrap{
        height: 100%;
        overflow: hidden;
    }
    .plbtn{
        padding:10px 20px;
        background-color: rgb(104, 104, 231);
        color:white;
        border:none;
        cursor: pointer;
    }