.asdddd{
    clear:both;
  }
  .asd{
   
    margin-bottom: 8px;
     font-size:18px!important;
     
  }
  .new{
    
    color:rgb(144, 184, 36);
    margin-left: 3px;
    
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #2752be;
  }
 
  
  .datec{
    cursor: pointer;
    z-index: 99;
    padding:10px 10px;
  }
  .idlink {
    color: black;
    margin-left: 5px;
    text-decoration: none;
  }
  .idlink:link {
    color: black;
  }
  .idlink:visited {
    color: rgb(158, 155, 155);
  }
  
  .keyword1 {
    padding: 2px 13px;
    color: white;
    background: #9dd3ec;
    border-radius: 100px;
  }
  .pag {
    float: left;
    margin-top: 20px;
  }
  .wrbtn {
    float: right;
    margin-right: 80px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #2752be;
    color: white;
    margin-top: 20px;
    border-radius: 2px 2px 2px 2px;
   
  }
  .sbtn {
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    background: #2752be;
    color: white;
    margin-right: 80px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .sch {
    height: 36px;
    width: 200px;
    outline: none;
    border: 1px solid #dddddd;
    margin-left: 5px;
  }
  .schsel {
    height: 38px;
    width: 103px;
    font-size: 15px;
    border: 1px solid #dddddd;
    outline: none;
    padding-left: 10px;
  }
  
  .boardro {
    width: 98px;
    height: 38px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #dddddd;
    outline: none;
  }
  
  .boardlength {
    width: 78px;
    height: 38px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #dddddd;
    outline: none;
    margin-right: 5px;
  }
  
  .wrap1_2{
    width: 1188px;
    padding-top: 30px;
  }
  .opt{height: 60px;}
  .opt li {
    display: inline-block;
  }
  .opt li:nth-child(1) {
    float: left;
  }
  .opt li:nth-child(2) {
    float: left;
  }
  .opt li:nth-child(3) {
    float: right;
  }
  .opt li:nth-child(4) {
    float: right;
  }
  .opt li:nth-child(5) {
    float: right;
  }