#back {
    background: #eeeeee;
    width: 100%;
    height: 110vh;
    padding-top: 30px;
  }
  .wrap {
    background: white;
    width: 1320px;
    height: 900px;
    margin: auto;
  }
  .logo {
    width: 100%;
    text-align: center;
    padding: 75px 0 45px;
    font-size: 27px;
    color: #2752be;
  }
  .join {
    display: table;
    width: 100%;
    position: relative;
    padding-bottom: 50px;
  }
  .left {
    display: table-cell;
    width: 50%;
    height: 410px;
    padding: 0 110px;
    border-right: 1px solid #ccc;
  }
  .right {
    display: table-cell;
    width: 50%;
    padding: 0 110px;
    height: 410px;
  }
  .userid {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 36px\9;
    font-family: inherit;
    font-size: 16px;
    outline: none;
  }
  .userpw {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
    height: 38px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    line-height: 36px\9;
    font-family: inherit;
    font-size: 16px;
    margin-top: 5px;
    outline: none;
  }
  h3 {
    color: #000;
    font-size: 25px;
    padding: 20px 0;
    font-weight: 500;
  }
  .btn {
    display: block;
    text-align: center;
    position: relative;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 10px;
    width: 100%;
    background: #2752be;
    border: none;
    margin: 25px 0px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .btn:hover {
    background: #5276d3;
  }
  .chk_in_left {
    float: left;
    vertical-align: baseline;
  }
  .chk_in_right {
    float: right;
  }
  .chk ul li {
    float: left;
    list-style: none;
    font-size: 14px;
  }
  .chk ul li:nth-child(1) {
    cursor: pointer;
  }
  .chk ul li:nth-child(2) {
    margin: 0px 5px;
  }
  .chk ul li:nth-child(3) {
    cursor: pointer;
  }
  .checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    float: left;
  }
  .chktext {
    font-size: 14px;
    margin-left: 5px;
  }
  .easylogin {
    text-align: center;
    position: relative;
    padding: 20px 0;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow:0px 3px 3px rgba(0, 0, 0, 0.2);




  }
  .easylogin:nth-child(2) {
    background: #01c73c;
    margin-top: 25px;
    transition: all 0.5s;
  }
  .easylogin:nth-child(2):hover {
    background: #049930;
  }
  .easylogin:nth-child(4) {
    background: #4982ee;
    margin: 10px 0px;
    transition: all 0.5s;
  }
  .easylogin:nth-child(4):hover {
    background: #3772e0;
  }
  .easylogin:nth-child(6) {
    background: #ffdf00;
    color: black;
    transition: all 0.5s;
  }
  .easylogin:nth-child(6):hover {
    background: #ddc005;
  }
  .bottom {
    padding: 0 112px 80px;
  }
  .bottom_in {
    clear: both;
    border: 1px solid #ccc;
    padding: 50px 80px;
    overflow: hidden;
  }
  p {
    font-size: 25px;
  }
  .bottom_left {
    width: 48%;
    float: left;
  }
  .bottom_right {
    width: 52%;
    float: left;
  }
  .join_btn {
    padding: 10px 60px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 30px;
    background: none;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.2s;
  }
  .join_btn:hover {
    opacity: 0.7;
  }
  .chk_in_right{
    transition: all 0.5s;
  }
  .chk_in_right li:hover{
    opacity: 0.7;
  }
  
  @media (min-width:1200px) and (max-width:1319px) {
    .wrap{
      width:90%;
    }
  }
  @media(max-width:1199px){
    .wrap{
      width:100%;
      
    }
    .join{
      width:100%;
    }

  }
  @media(max-width:974px){
    .wrap{
      width:100%;
    }
    .left{
      width:70%;
      display: table-caption;
      margin:0 auto;
      border:none;
      height: 300px;
      padding:unset;
    }
    .login2{
      display: none;
    }
    .right{
      width:70%;
      display: table-caption;
      margin: 0 auto;
      padding:unset;
    }
    .join{
      width:80%;
      margin:0 auto;
    }
   
  }
  @media (max-width:700px) {
    .wrap{
      width:100%;
    }
    .join{
      width:90%;
      
    }
  }
  @media(max-width:483px){
    .join{
      width:100%;
      
    }
    .chk_in_right {
      float:none;
      clear: both;
      padding-top:5px;
    }
  }